.image-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 180px));
  grid-template-rows: repeat(auto-fill, minmax(100px, 250px));
  grid-gap: 60px 50px;
  /* align-items: center; */
}

.image-list img {
  width: 175px;
  box-shadow: 2px 2px 1px gray;
}

/* .ui container {
  padding-left: 5%;
} */
